trunk/OpenVisualization/Configuration/Charts/ChartConfig.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:complexType name="ChartType">
		<xs:sequence>
			<xs:element name="Uri" type="UriType"/>
			<xs:element name="Data" type="DataType"/>
		</xs:sequence>
		<xs:attribute name="Name" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType mixed="true" name="DataType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="SeriesDefinitions" type="SeriesDefinitionsType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType mixed="true" name="ParamType">
		<xs:attribute name="Name" type="xs:string"/>
		<xs:attribute name="name" type="xs:string"/>
	</xs:complexType>
	<xs:element name="Path" type="xs:string"/>
	<xs:complexType name="SeriesType">
		<xs:sequence>
			<xs:element name="Data" type="DataType"/>
			<xs:element ref="Type"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="SeriesDefinitionsType">
		<xs:sequence>
			<xs:element name="Series" type="SeriesType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Type" type="xs:string"/>
	<xs:complexType name="UriType">
		<xs:sequence>
			<xs:element ref="Path"/>
			<xs:element name="Param" type="ParamType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Chart" type="ChartType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
